body {
	background-color: lightcoral;
	margin-top: 200px ;
	color:  white;
	text-align: center;
	font-family: 'Edu QLD Beginner', cursive;
}

#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url(https://dunghm98.github.io/img/puung3.jpg);
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(4px);
}

h1 {
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}