body {
	background-color: lightcoral;
	margin-top: 277px ;
	color:  white;
	text-align: center;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

