#neon {
	text-align: center;
	font-family: 'Newsreader', serif;
	color: #133337;
	font-size: 75px;
	margin-left: 17px;
}

#time-left {
	margin-top: 65px;
	margin-bottom: 496px;
	color:  white;
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 57px;
	font-weight: bold;
}

#time-left-Hp{
	margin-top: -222px;
	margin-bottom: 356px;
	color: #f0fd1f;
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 56px;
	font-weight: lighter;
	margin-left: 76px;
	margin-right: 88px;
}

#time-left-Hp1 {
	margin-top: -141px;
	margin-left: 88px;
	margin-right: 88px;
	margin-bottom: 209px;
	color: #f0fd1f;
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 51px;
	font-weight: lighter;
}

#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url(https://dunghm98.github.io/img/puung3.jpg);
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(2px);
}

h2 {
	position: absolute;
	bottom: 37px;
	left: 408px;
	right: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	color:#fefdb0;
}

#text {
	position: absolute;
	bottom: 0px;
	
	color:#fcf4e0;
	font-size:15px;
	font-family:
	'Courier New', monospace;
	margin-left: 185px;
	margin-right: 185px;
}